                                        /* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background:var(--Pale-blue);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

                                                /* COLOR */
:root {
    /* Primary */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    /* ## Gradients */
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    /* * ### Neutral */ 
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}


                                            /* CONTAINER */
.container {
    width: 800px; 
    height: 500px;
    background-color: var(--White);
    border-radius: 25px;
}
.div1 {
    display: flex;

} 
.section1 {
    width: 50%;
    height: 500px;
    border-radius: 25px;
    background: linear-gradient(to bottom, var(--Light-slate-blue), var(--Light-royal-blue));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: white;
}

.section1 h3 {
    font-size: 1.5rem;
    margin-top: 2.5rem;
}
.section1 .circle {
    width: 175px;
    height: 175px;
    background: linear-gradient(to top, var(--Light-slate-blue), var(--Light-royal-blue));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.circle b {
    font-size: 4.5rem;
    margin-top: 3px;
}

.circle p {
    display: flex;
    margin-top: 1rem;
}

.section1 .great {
    font-size: 2rem;
    margin-top: 1.5rem;
}

.section1 .decription {
    width: 200px;
    display: flex;
 
}


/* .div1 {
    width: 500px;
    background-color:var(--Light-royal-blue);
    border-radius: 20px;
    color: var(--Pale-blue);
    display: center; */
                                                                /* display: block;  */
                                                                /* how to align content center */   
/* } */
/* .div1 h2{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    font-size: x-large;
} */

/* div .blue  {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-color: pink;
    display: center; */
                                                                                /* justify-content: center; */
/* } */

                                                    /* DIV2 */
/* 
.icon {
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 50px;
    border: 1px solid black;
    align-items: center;
    margin-top: 20px;
   
} */
