                                        /* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    text-decoration: none;
    list-style: none;
}

                                                /* COLOR */
:root {
    /* Primary */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    /* ## Gradients */
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    /* * ### Neutral */ 
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}


                                            /* CONTAINER */
.container {
    display: flex;
    width: 1000px;
    height: 700px;
    background: pink;
    border-radius: 25px;   
}

                                                    /* DIV1 */
                                               
.div1 {
    width: 500px;
    background-color:var(--Light-royal-blue);
    border-radius: 20px;
    color: var(--Pale-blue);
    /* display: block;  */
    /* how to align content center */   
}
.div1 h2{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    font-size: x-large;
}

div .blue  {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-color: pink;
    display: block;
    justify-content: center;
}

                                                    /* DIV2 */

.icon {
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 50px;
    border: 1px solid black;
    align-items: center;
    margin-top: 20px;
   
}

.icon  {
    /* margin-top: 15px; */
}

    